{
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.js",
        "*.mjs"
      ],
      "options": {
        "singleQuote": true,
        "trailingComma": "all",
        "printWidth": 100
      }
    }
  ]
}